<a href="https://colab.research.google.com/github/mariana-otero/Data_Estadistica_2/blob/master/Introducci%C3%B3n_a_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Sesión : Introducción a Python**

Esta es nuestra primera sesión práctica de Python, donde aprenderemos las principales funcionalidades básicas del software.

Puedo agregar un nuevo párrafo a mi notebook

In [ ]:
10+8

18

In [ ]:
x = 10+8 # Celda para almacenar una variable (Esto es un comentario, Python no ejecutará los mensajes en verde seguidos por el #)

In [ ]:
#Celda para almacenar una variable etc ....

In [ ]:
# Consultando el valor de la variable

x

18

In [ ]:
# Función "print" que permite mostrar algún mensaje en pantalla

print("Juan tiene", x+3, "años")

Juan tiene 21 años

In [ ]:
# Eliminando una variable mediante la variable del

del x

In [ ]:
# Volviendo a consultar la variable

x

NameError: ignored

# **Tipos de datos**

In [ ]:
# Crear la variable pi

pi = 3.14159

In [ ]:
pi

3.14159

In [ ]:
type(pi) # type permite identificar el tipo de dato o variable que estamos explorando

float

In [ ]:
# float es una variable de valor numérico decimal
# int es una variable de valor entero
# string es una variable de valor cualitativo (cadena)

In [ ]:
entero = 1200

In [ ]:
type(entero)

int

In [ ]:
# No se pueden crear variables cuyo nombre empiece con un número

4x = 18

SyntaxError: ignored

In [ ]:
# Hay palabras que son reservadas (ya utilizadas por python para otras funciones) y que no pueden usarse como nombre de variables

print = 340

In [ ]:
del print

In [ ]:
del = 450

SyntaxError: ignored

In [ ]:
# En python la función print se puede usar varias veces en una celda

print("El valor de pi es", pi)
print("El valor de pi al cuadrado es", pi*pi)

El valor de pi es 3.14159
El valor de pi al cuadrado es 9.869587728099999

In [ ]:
# Variables tipo string

especializacion = "DMC"

In [ ]:
type(especializacion)

str

In [ ]:
1235 == 1200+36

False

In [ ]:
suma = 235324 + 2134556

In [ ]:
suma

2369880

In [ ]:
19356 - 1843

17513

In [ ]:
2.5435 * 123

312.8505

In [ ]:
34567 / 18

1920.388888888889

In [ ]:
# Potencia

1000 ** 5

1000000000000000

In [ ]:
# Igualdad 23000 con 20000+3000

23000 == 20000+3000

True

In [ ]:
# Desigualdad

23000 != 23000+1

True